.hero {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  padding: 2rem;
}

.hero h1,
.hero p {
  max-width: 600px;
  width: 100%;
}
